.pointer {
  cursor: pointer;
}
/* .detail_checkbox {
  padding-top: 10px;
} */
.form-check-inline{
  border-radius: 5px;
  background: #038ff31a;
  border: 2px solid #8badc5de;
  margin: 5px;
  padding: 5px;;
}
/* Global Style for Form */
mat-form-field.mat-form-field {
  font-size: 12px;
}
.custom__eye__icon {
  height: 2.5em !important;
  width: 2.5em !important;
  border: none !important;
}
#ngx .ng-valid, .ng-touched.ng-valid {
  border-color: #cfcfcf !important;
}
.mat-form-field,
.mat-option-text,
.mat-select,
.mat-slide-toggle-content{
  font-family: "Poppins", sans-serif !important;
}
.mat-form-field-label {
  /* color: #686868 !important; */
  font-weight: 400 !important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick,
.mat-form-field.mat-form-field-invalid .mat-form-field-label{
  color: #f44336;
}

/* .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  color: #0c0c0c;
} */
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #979797;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #024e70 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #024e70;
}
.hideControl{
  visibility: hidden;
  display: none;
}
