body{
    font-weight: 400 !important;
    background: #edf1f5 !important;
}

.font-twelve{
    font-size: 12px;
}

.topbar .top-navbar .navbar-header .navbar-brand {
    display: block !important;
    margin: 0px !important;
    padding: 0 10px 0 10px !important;
    text-align: center !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link.active, .sidebar-nav ul .sidebar-item .sidebar-link:hover {
    opacity: 1 !important;
    border-left: 3px solid #292961 !important;
    background-color: rgba(41,41,97,0.08) !important;
}

#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link:hover i,
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link.active i,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link:hover i,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item .sidebar-link.active i,
#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.active > .sidebar-link i,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.active > .sidebar-link i {
    color: #292961 !important;
}

#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.active > .sidebar-link,
#main-wrapper[data-layout="horizontal"] .left-sidebar[data-sidebarbg="skin6"] .sidebar-nav ul .sidebar-item.active > .sidebar-link {
    border-left: 3px solid #292961 !important;
    color: #292961 !important;
    background-color: rgba(41,41,97,0.08) !important;
}

.hide-menu {
    overflow: hidden !important;
    text-overflow: unset !important;
    white-space: break-spaces !important;
    margin-right: 0px !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link{
    font-size: 12px !important;
    font-weight: 400 !important;
}

.swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
}

#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"] .left-sidebar {
    z-index: 49 !important;
}
#main-wrapper[data-layout="vertical"][data-sidebar-position="fixed"] .topbar .top-navbar .navbar-header {
    z-index: 50 !important;
}
#main-wrapper[data-layout="vertical"][data-header-position="fixed"] .topbar {
    z-index: 50 !important;
}




/* Fayez  */

.adv-field-set {
  padding: 10px;
  border: 1px solid #cccccc3b;
  border-radius: 6px;
  border-bottom-color: #b4b4b436;
  box-shadow: 1px 10px 9px -7px #72727240;
}

.adv-field-set .adv-legend-one,
.adv-field-set .adv-legend-two,
.adv-field-set .adv-legend-three{
  padding: 0 10px 0 10px;
  margin-bottom: 0 !important;
  font-size: 20px;
  background-color: #039be536;
  border-radius: 4px;
  color: #6c6c6c;
  border-left: 3px solid #039be5;
  border-right: 3px solid #039be5;
}

.adv-field-set .adv-legend-one{
  width: inherit;
}

.adv-field-set .adv-legend-two{
  width: inherit;
}

.adv-field-set .adv-legend-three{
  width: inherit;
}

.diff-dis {
  background-color: #98a6ad75;
  color: #000000b0;
}

.search option {
  color: #000;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #98d7f3 !important;
  border-color: #98d7f3 !important;
}


.user-profile i.fa.fa-power-off {
  color: #ea3d3d;
}
.user-profile i.ti-settings {
  color: #024e70;
}
.user-profile i.ti-user {
  color: #039be5;
}

.topbar .top-navbar .navbar-nav > .nav-item:hover {
  background: none !important;
}

.tablet-view {
  padding: 0 10px 0 10px;
  margin-bottom: 15px !important;
  background-color: #039be536;
  border-radius: 4px;
  color: #6c6c6c;
  border-left: 3px solid #039be5;
  border-right: 3px solid #039be5;
  display: inline-block;
}



/* Fayez */


.custom-chk{
  z-index: 2 !important;
}





/* ui */
.topbar .top-navbar{
    height: 50px;
    min-height: 50px !important;
}
.topbar{
    height: 50px !important;
}
/* over all scroll bar */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #039be5;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #024e70;
  }
/* over all scroll bar*/
/* sidebar scroll bar */
.ps__thumb-y{
  background-color: #039be5 !important;
}
/* sidebar scroll bar */
  footer{
    padding: 5px 20px !important;
    background: #024e70 !important;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 100;
    box-shadow: 0px 0px 10px #0000003d;
  }

.ti-pencil.text-info.pointer,
.ti-trash.text-danger.pointer,
.ti-eye.text-info.pointer,
.ti-receipt.text-info.pointer,
.ti-email.text-info.pointer,
.ti-mobile.text-info.pointer,
.ti-location-arrow.text-info.pointer{
  padding: 5px 5px !important;
  margin: 3px 5px 0px 5px;
  font-size: 18px;
  color: #024e70 !important;
}

/* 18/01/2022 */
.mat-dialog-container{
  padding: 0px !important;
  padding-bottom: 20px !important;
  overflow: hidden !important;
}
.mat-dialog-container .mat-dialog-title:nth-child(1){
  padding: 10px;
  background: #03a9f3;
  color: white;
}
.mat-dialog-container .mat-dialog-actions{
  padding: 10px;
}
.mat-option-text{
  font-size: 15px !important;
}

/* HEADER BUTTON STYLE */
.custon__add__btns__class{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 3px 5px;
  background: transparent;
  border: 0px;
  box-shadow: 0px 0px 0px transparent !important;
}
.custon__add__btns__class:hover{
  background-color: transparent !important;
    border-color: transparent !important;
}
.custon__add__btns__class:active{
  background-color: transparent !important;
    border-color: transparent !important;
}
.custon__add__btns__class:focus{
  background-color: transparent !important;
    border-color: transparent !important;
}
:host /deep/ .custon__add__btns__class .mat-button-wrapper{
  padding: 0px 15px;
  color: white !important;
  background: #00c292 !important;
  display: block;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.5s;
}
:host /deep/ .custon__add__btns__class .mat-button-wrapper:hover{
  box-shadow: 0px 0px 10px -4px #000000a6;
}
:host /deep/ .custon__add__btns__class .mat-ripple.mat-button-ripple{
  display: none !important;
  opacity: 0 !important;
}
.cdk-mouse-focused.cdk-focused .mat-button-focus-overlay{
  opacity: 0 !important;
}
/* HEADER BUTTON STYLE */

.cdk-overlay-pane#cdk-overlay-0{
  /* width: 30% !important; */
}
.cdk-overlay-pane#cdk-overlay-0 .mat-dialog-content{
  overflow: unset !important;
  padding: 0px 40px;
}
.cash-deposit{
  min-height: auto;
  max-height: 300px;
  overflow-y: scroll;
}
.mat-dialog-container .mat-dialog-content{
  padding: 0px 0px;
  margin: 0px !important;
}
/* 18/01/2022 */
/* 20/01/2022 */
.cdk-overlay-pane.dialog-responsive{
  max-width: 40vw !important;
  width: auto !important;
}
/* 20/01/2022 */
/* 24/01/2022 */
/* .cdk-overlay-container, .cdk-global-overlay-wrapper{
  width: auto !important;
} */
/* 24/01/2022 */

  @media(max-width: 800px){
    /* .cdk-overlay-pane#cdk-overlay-0{
      width: 90% !important;
    } */
    .page-wrapper{
        margin-left: 0px !important;
    }
    footer{
        font-size: 12px;
    }
  }

  @media(max-width: 768px){
    .custom__card__body__styling h2{
        font-size: 18px !important;
        padding: 15px 10px !important;
    }
    .mat-dialog-container .mat-dialog-title:nth-child(1){
      padding: 0 5px;
      font-size: 15px;
    }
    .custon__add__btns__class{
      padding: 0px 0px !important;
    }
    .cdk-overlay-pane.dialog-responsive{
      max-width: 90vw !important;
    }
  }



  @media(max-width: 480px){
    .custom__card__body__styling h2{
        font-size: 15px !important;
        padding: 10px 10px !important;
    }
    .custon__add__btns__class{
        font-size: 12px !important;
    }
  }
/* ui */


/* Buttons */
.custon__btns__class{
  width: 100px !important;
  padding: 0px 0px !important;
  margin-left: 5px !important;
}

/* Dialog Response */
.dialog-responsive {
  width: 55%;
}
@media only screen and (max-width: 760px) {
  .dialog-responsive {
      width: 100%;
  }
}

