<mat-form-field appearance="outline" *ngIf="control" class="col-md-12 my-1">
  <mat-label>{{ lbl }}</mat-label>
  <mat-select  [formControl]="control" [disabled]="disabled" [required]='req'>
    <mat-option>
      <ngx-mat-select-search
        [noEntriesFoundLabel]="'No ' + lbl +' Found'"
        [placeholderLabel]="'Find ' + lbl"
        [formControl]="searchControl"
        [searching]='searching'
        [disableScrollToActiveOnOptionsChanged]='true'>
        <mat-icon ngxMatSelectSearchClear>cancel</mat-icon>
      </ngx-mat-select-search>
    </mat-option>
    <ng-container *ngIf="!listForTemp?.length">
      <mat-option
        *ngFor="let item of list" [value]="item.id"
        [disabled]="control.value == item.id"
        (onSelectionChange)='changeEvent({
          who:field,
          id: item.id,
          code: item[parentKey],
          obj: item,
          event: $event
        })'
        >{{ renderRow(item) }}
      </mat-option>
    </ng-container>
    <mat-option
      [disabled]="control.value == preobj?.id"
      *ngIf="!listForTemp?.length && control?.value == preobj?.id"
      (onSelectionChange)='changeEvent({
        who:field,
        id: preobj.id,
        code: preobj[parentKey],
        obj: preobj,
        event: $event})'
      [value]="preobj?.id">
      {{ preobj?.title}}
    </mat-option>
    <mat-option
      [disabled]="control.value == item.id"
      (onSelectionChange)='changeEvent({
        who:field,
        id: item.id,
        code: item[parentKey],
        obj: item,
        event: $event})'
      [value]="item.id"
      *ngFor="let item of temp | async">
      {{ renderRow(item) }}
    </mat-option>
  </mat-select>
  <mat-error>{{ _vs._error_control(control)?.message }}</mat-error>
</mat-form-field>
