<mat-form-field appearance="outline" class="col-md-12 my-1">
  <mat-label>{{ lbl }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [min]='min'
    [max]='max'
    readonly
    [formControl]="control"
    [required]='req'
    [disabled]='disabled'
    (click)='picker.open()'
  >
  <mat-error>
    {{ _vs._error_control(control)?.message }}
  </mat-error>
  <mat-datepicker-toggle [disabled]="disabled" matSuffix [for]="picker">
  </mat-datepicker-toggle>
  <mat-datepicker minutes="true" #picker [disabled]="disabled"></mat-datepicker>
</mat-form-field>
